.about {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.text_left {
    width: 45%;
    float: left;
}

.text_right {
    width: 45%;
    float: right;
}

@media (max-width: 900px) {
    .about {
        display: block;
    }
    
    .text_left, .text_right {
        width: 100%;
        float: none;
    }

    .text_left {
        margin-bottom: 2rem;
    }
}