.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.header > div {
    width: 50%;
}

.header__left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__left__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__left img {
    display: inline-block;
    margin-right: 2rem;
    max-width: 150px;
    height: auto;
}

.header__left__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.header__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header__right__image {
    max-width: 100%;
    height: auto;
}

@media (max-width: 1500px) {
    .header {
        flex-direction: column;
        gap: 2.5rem;
    }

    .header > div {
        width: 100%;
    }

    .header__left {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    .header__left {
        display: block;
    }

    .header__left__text {
        display: block;
    }

    .header__left img {
        display: block;
        margin: 0 auto;
    }

    .header__left h1 {
        display: block;
        font-size: 3rem;
        text-align: center;
        margin-top: 1rem;
    }

    .header__left p {
        display: block;
        font-size: 1.25rem;
        text-align: center;
    }
    
    .header__left__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
