.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.main > div {
    margin: 4rem 0;
    width: 100%;
}

@media (max-width: 900px) {
    .main > * {
        margin: 2rem 0;
    }
}
